@font-face {
    font-family: "titre";
    src: url("polices/yerbaluisa_demo-font-FFP.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
    border-radius: 10px;
}
img.logo{
    width:200px;
    height:150px;
    padding: 10px;
}
body{
    min-height: 100vh;
    background: url("assets/foret_3.jpg")no-repeat center/cover;
}
nav{
    border-radius:10px ;
    border: solid 3px #97C229;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}
section.left{
    background-color: white;
    border: solid 3px #97C229;
    margin: 50px;
    max-width: 500px;
    border-radius: 10px;
}
section.right{
    background-color:white;
    border: solid 3px #97C229;
    margin:50px;
    max-width:500px;
    border-radius:10px ;
}
div{
    display: flex;
    justify-content: space-around;
}
p{
    padding: 15px;
}
section.left img{
    width: 50%;
    margin: 25px;
}
section.right img{
    width: 80%;
    margin: 40px;
    padding: 25px;
    border-radius: 35px;
}
h3{
    text-align: center;
}
a {color :#97C229}
h3{
    font-family:"titre";
    font-size: xx-large;
}
@media screen and (max-width: 700px) {
    nav .logo {width: 100px;}
    div{display:flex;  }
    div{flex-direction: column;}
}