
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    max-height: 200px;
    border-radius:10px ;
    background-color: white;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around  
}
img.logo{
    width:200px;
    height:150px;
    padding: 10px;
}
a{color: #97C229;}
body{
    min-height: 100vh;
    background-color: #97C229;
}
div{
    background-color: white;
    border-radius: 20px;
    margin: 50px;
    padding: 50px;
    display: flex;
    width: 800px;
    height: 400px;
}
@media screen and (max-width: 700px) {
    nav .logo {
      width: 100px;
    }
  }